{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}
{% load comments %}
{% load facebook %}
{% load twitter %}
{% load foursquare %}
{% load openid %}
{% load ratings %}
{% load breadcrumbs %}
{% block title %}{% trans "Дебатирај за" %} {{ debate.title }}{% endblock %}
{% block content %}
				<script>
					$(function() {
						$("#new-note").popover();
						$(".note").popover({
							placement : 'top',
							template: '<div class="popover"><div class="arrow"></div><div class="popover-inner" style="width: 280px"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
						});
					});

				</script>

<div class="wrapper-theme">
	<div class="span12">
		<h2 class="span12-h2">Дебатирај!</h2>
	</div>
</div>
<div class="wrapper-theme-content">
	<div class="span4">
		<div class="debate-pic"><img src="/static/img/images/frame-pic.png" class="frame-pic"><a href="{{ debate.image.url }}" data-rel="prettyPhoto" class="thumb post-img"><img src="{{ debate.image.url }}" class="framed-pic"/></a>
		</div>
		{% if debate.video %}
		<div class="debate-vid"><img src="/static/img/images/frame-vid.png" class="frame-pic"/><iframe width="302" height="170" src="{{ debate.video }}" frameborder="0" class="framed-vid" allowfullscreen></iframe>
		</div>
		{% endif %}
	</div>
	<div class="span8 debate-view">
		<h4 class="debate-title">{{ debate.title}}</h4>
		<div style="clear:both"></div>
		<p class="debate-view">
			<strong>{% trans "Опис:" %}</strong> {{ debate.description|safe }}
		</p>
		<p>
			<strong>{% trans "Опсег на дебатата:" %}</strong> {{ debate.scope }}
		</p>
		<p>
			<strong>{% trans "Почеток:" %}</strong> {% if debate.start_date %}{{ debate.start_date }}{% else %}{% trans "Нема датум"%}{% endif %}
		</p>
		<p>
			<strong>{% trans "Крај:" %}</strong> {% if debate.end_date %}{{ debate.end_date }}{% else %}{% trans "Нема датум"%}{% endif %}
		</p>
		<div id="add-opinion">
			<div class="add-note" id="new-note" {% if user.is_anonymous %}onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block';"{% endif %}{% if user.is_authenticated %}onclick="createNote()"{% endif %} rel="popover" data-content="<b>1.</b> Со клик на копчето креирајте <b>ново мислење</b>.<br/><b>2.</b> Со влечење позиционирајте го мислењето доле во <b>коцката</b> со прашањето на кое се однесува вашето мислење.<br/><b>3.</b> Позиционирајте ја стрелката на мислењето и со кликање на <b>измени</b>, напишете наслов и порака соодветно.<br /><b>4.</b> Кликнете на <b>„Зачувај“</b> и зачувајте ја пораката.<br /><b>5.</b> Можете да ги <b>поместувате</b> мислењата како ви одговара додека ги читате; ако дебатата е составена од повеќе коцки можете да го <b>префрлите</b> своето мислење во друга коцка." >
				{% trans "Додади мислење" %}
			</div>
			<div id="sortable-dispatcher"></div>
		</div>
	</div>
	<div id="light" class="white_content">
		{% if user.is_anonymous %} <div class="social_header"></div>
		<div class="social_buttons">
			{% facebook_button '/static/img/images/fb-najava.png' %}
			{% twitter_button  '/static/img/images/tw-najava.png' %}
			{% openid_form 'https://www.google.com/accounts/o8/id' '/static/img/images/gplus-najava.png' %}
            <a href="http://republikamladi.reactororg.webfactional.com/social/setup/" id="najava"><img src="/static/img/images/najava.png" style="margin: 3px 0;"/></a>
		</div>
		{% endif %}
		<--<a href="javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none';">-->
	</div>
</div>
<div id="fade" class="black_overlay"></div>
<div style="clear:both"></div>
<div class="row" style="margin-top: -65px;">
{% for row in rows %}
<div class="span12 specialmargin{% if row.criteria != "." %}-with-side-questions{% endif %}">{% endfor %}
		<div id="debate-number" class="hidden">
			{{ debate.pk }}
		</div>
		<div id="last-note" class="hidden">
			{{ lastnote }}
		</div>

		<div id="debate">
			<br/>
			<br/>
			<ul id="filter">
				<li class="sort-by">Подреди ги по:
				</li>
				<li id="num-of-votes">
					<a id="rating" href="/debate/{{ debate.pk }}?sort=-rating_score">Број на гласови</a>
				</li>
				<li id="num-of-comments">
					<a href="/debate/{{ debate.pk }}?sort=-comment_count">Број на коментари</a>
				</li>
				<li id="sort-by-date">
					<a href="/debate/{{ debate.pk }}?sort=-date">Датум</a>
				</li>
			</ul>
			<script>
			$(function (){

				$('#filter li a').each(function(){
					var path = window.location.href;
					var current = path.substring(path.lastIndexOf('/')+1);
					var url = $(this).attr('href');

					if(url == current){
						$(this).addClass('active');
					}
				});
			});
			</script>

			<a href="/debate/" id="back-to-debates">KОН OСТАНАТИ ДЕБАТИ</a>

			<table id="debate{{ debate.pk }}" cellspacing="0" style="width:100%;" align="left">
				<thead>
					<tr id="debate{{ debate.pk }}-headers">
						<!--<th id="corner" class="corner-criteria"></th>-->
						{% for col in columns %}
						{% if col.criteria != "." %}<th id="col-{{ col.id }}">{{ col.criteria }}</th>{% endif %}
						{% endfor %}
					</tr>
				</thead>
				<tbody id="debate-body">

					{% for row in rows %}
					<tr id="debate-row-{{ forloop.counter }}">
						{% comment %}
						The th style width is meant to make smaller the th, since most browsers make
						the th fill all the space.
						{% endcomment %}
						{% if row.criteria != "." %}<th id="row-{{ row.id }}" width="1%">
						<div class="debate-ttitle">
							{{ row.criteria }}
						</div></th>{% endif %}
						{% for td in columns %}
						<td headers="{{ td.id }}-{{ row.id }}" id="sortable-debate" class="connectedSortable"> {% for note in notes %}
						{% if note.column.id == td.id and note.row.id == row.id %}
						<div id="{{ note.id }}" class="note mine" rel="popover"  title="{{note.title}}" data-content="Автор: {{note.author}}<br/><br/>{{note.message}}" data-trigger="manual">
								<div class="handler">
									{% if note.author == user and perms.note.delete_note or user.is_staff %}
									<div class="deletenote hidden">
										<a href="#" onclick="deleteNote(this)" id="deletenote" title="{% trans 'Избриши мислење' %}">x</a>
									</div>
									{% endif %}
								</div>
								<span class="note-text">{{ note.title|truncatechars:45 }}</span>
								<div style="clear:both;"></div>
								<span id="view-note" class="label hidden"><a href="?note={{note.id}}" onclick="return viewNote(this)" data-toggle="modal" data-target="#view-current-note">{% trans "Види" %}</a></span>
								{% if note.author == user %}
								<span id="edit-note" class="label hidden"><a href="#" onclick="editNote(this)" data-toggle="modal" data-target="#edit-current-note">{% trans "Измени" %}</a></span>

								{% endif %}
								<div class="details">
									<div style="clear: both"></div>
									{% if user.is_authenticated %}
									{% rating_by_request request on note.rating as vote %}
									{% rating_by_user user on note.rating as vote %}
									<a href="../rate-my-post/{{ note.id }}/1" class="vote">Гласај +1</a>
									{% endif %}
									<div style="clear:both;"></div>
									<span class="votes">{{ note.rating.score }} гласови</span><div style="clear:both;"></div>
									{% get_comment_count for note as comment_count %}
									<span class="comments">{{ comment_count }} коментари</span>
								</div>

						</div> {% endif %}

						{% endfor %} </td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<br />
			<div id="edit-current-note" class="modal hide fade" style="display: none; ">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">
						×
					</button>
					<h3>{% trans "Измени мислење" %}</h3>
				</div>
				<div class="modal-body">
					<form enctype="" action="" method="post">
						{% csrf_token %}

						<div class="clearfix">
							<label for="prependedInput">{% trans "Наслов на мислењето" %}</label>
							<div class="input">
								<input type="text" name="notename" />
								<span class="help-inline">{% trans "100 карактери" %}</span>
							</div>
						</div>
						<div class="clearfix">
							<label for="prependedInput">{% trans "Опис" %}</label>
							<div class="input">
								<textarea id="id_note_message"></textarea>								
                                    {% wysiwyg_editor "id_note_message" %}
 <span class="help-inline"></span>
							</div>
						</div>
						<div id="last-edited-note" class="hidden"></div>
					</form>
				</div>
				<div class="modal-footer">
					<a href="#" onclick="saveNote()"  class="btn1 btn-primary1">{% trans "Зачувај" %}</a>
				</div>
			</div>
			<div id="view-current-note" class="modal hide fade" style="display: none; ">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">
						×
					</button>
					<h3>{% trans "Види мислење" %}</h3>
				</div>
				<div class="modal-body">
					<h5 id="view-note-title"></h5>
					<p id="view-note-desc"></p>
					Автор: <span id="view-note-author"></span>
					<p id="view-note-date"></p>
					<!--<div id="facebook"></div>-->
					<!-- AddThis Button BEGIN -->
					<div id="something" class='addthis_toolbox addthis_default_style'>
						<div id="buttons"></div>
					</div><!-- AddThis Button END -->
					<span id="num-comments"></span>
					<div id="comments"></div>
					<div class="modal-footer">
						{% if user.is_authenticated %}
						<h5 class="note-comment-title">Коментирај</h5>
						<div id="note-comment">
							<form id="form_comments" action="{% comment_form_target %}" method="post">
								{% csrf_token %}
								<table>
									<tr>
										<td colspan="2"><div class="kopce"></div>
										<input type="submit" name="submit" value="Прати">
										<input type="submit" name="preview" value="Прегледај">
										</td>
									</tr>
								</table>
							</form>
							{% endif %}
						</div>
						<div id="intense"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/debate_board.js" type="text/javascript"></script>
{% endblock %}
