{% extends "base.html" %}
{% block title %}Направи профил{% endblock %}
{% block content %}
<div id="main">
                                <div class="wrapper clearfix">
<h2 class="page-heading"><span>Логирање</span></h2>
<div style="clear:both"></div>
<div style="clear:both"></div>
        <form action="." method="post">
{% if error %}
        {{ error }}
{% else %}
                {{ form }}
            {% csrf_token %}
            <div style="margin-top:30px">
            <input type="submit" class="submit-post" value="Најави се" /> <span style ="margin: 0 15px">или</span> 
            <a href="/accounts/register/"><input type="button" class="btn-primary1" value="Креирај профил" /></a>
            </div>
        </form>
{% endif %}
</div>
</div>
{% endblock %}
~                                                                                                                                                    
~                   
