{% extends "base.html" %}
{% block title %}Документи - Домашно законодавство {% endblock %}
{% block content %}
<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">

					<!-- floated content -->
					<div>
						<h2 class="page-heading"><span>Документи - Домашно законодавство</span></h2>
						
						<div class="doc">
							<a href="/media/download-files/domashno_zakonodavstvo_i_politiki/strategija_volonterstvo.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Mинистерство за труд и социјална политика: <a href="/media/download-files/domashno_zakonodavstvo_i_politiki/strategija_volonterstvo.pdf" class="doc-link">Стратегија за развој и промовирање на волонтерство (2010) [PDF]</a>
							</div>
						</div>
						
						<div  class="doc">
							<a href="/media/download-files/domashno_zakonodavstvo_i_politiki/Национална%20стратегија%20за%20млади.doc">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Влада на РМ: <a href="/media/download-files/domashno_zakonodavstvo_i_politiki/Национална%20стратегија%20за%20млади.doc" class="doc-link">Национална стратегија за млади (2005) [DOC]</a>
							</div>
						</div>
						
						<div  class="doc">
							<a href="/media/download-files/domashno_zakonodavstvo_i_politiki/zakon_za_volonterstvo.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Закон за волонтерство: <a href="/media/download-files/domashno_zakonodavstvo_i_politiki/zakon_za_volonterstvo.pdf" class="doc-link">[PDF]</a>
							</div>
						</div>
						
						<div  class="doc">
							<a href="http://www.mon.gov.mk/novosti/649-integriranoobrazovanie">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Стратегија за интегрирано образование: <a href="http://www.mon.gov.mk/novosti/649-integriranoobrazovanie" class="doc-link">[линк]</a>
							</div>
						</div>
						
						<div  class="doc">
							<a href="/media/download-files/domashno_zakonodavstvo_i_politiki/zakonvisoko.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Закон за високо образование: <a href="/media/download-files/domashno_zakonodavstvo_i_politiki/zakonvisoko.pdf" class="doc-link">Предлог закон за изменување и дополнување на Законот за високото образование [PDF]</a>
							</div>
						</div>
						
												<div  class="doc">
							<a href="/media/download-files/domashno_zakonodavstvo_i_politiki/Statut_na_SPUKM.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Статут на Студентски парламент на УКИМ: <a href="/media/download-files/domashno_zakonodavstvo_i_politiki/Statut_na_SPUKM.pdf" class="doc-link">[PDF]</a>
							</div>
						</div>
						
						<div  class="doc">
							<a href="http://tacso.org/news/events/?id=7570">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Стратегија за соработка на Владата со граѓанскиот сектор: <a href="http://tacso.org/news/events/?id=7570" class="doc-link">[линк]</a>
							</div>
						</div>

						
						
					</div>
					<!-- ends floated content -->

				</div>	        	
	        	<!--  page content-->
	        	
	        	

	        	
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
