{% extends "base.html" %}
{% block title %}Документи - Истражувања во Македонија {% endblock %}
{% block content %}
<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">

					<!-- floated content -->
					<div>
						<h2 class="page-heading"><span>Документи - Истражувања во Македонија</span></h2>
						
						<div class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/IDSCS%20Youth%20Aspiration%20Survey%20in%20RM%202006.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">IDCS: <a href="/media/download-files/istrazhuvanja_makedonija/IDSCS%20Youth%20Aspiration%20Survey%20in%20RM%202006.pdf" class="doc-link">Yout Aspiration Survey in RM (2006) [PDF]</a>
							</div>
						</div>
						
						<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/MOF%20EKTS%20-%20Realnost%20ili%20iluzija%20vo%20visokoto%20obrazovanie%20(1).pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">MOФ: <a href="/media/download-files/istrazhuvanja_makedonija/MOF%20EKTS%20-%20Realnost%20ili%20iluzija%20vo%20visokoto%20obrazovanie%20(1).pdf" class="doc-link">ЕКТС - Реалност или илузија во високото образование (2010) [PDF]</a>
							</div>
						</div>
						
						<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/MOF%20Studentska%20Mobilnost%202011.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">MOФ: <a href="/media/download-files/istrazhuvanja_makedonija/MOF%20Studentska%20Mobilnost%202011.pdf" class="doc-link">Сонуваме да патуваме (2010) [PDF]</a>
							</div>
						</div>			

						<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/SEGA%20Analiza%20na%20mladinski%20trendovi%202010.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">СЕГА: <a href="/media/download-files/istrazhuvanja_makedonija/SEGA%20Analiza%20na%20mladinski%20trendovi%202010.pdf" class="doc-link">Младински потреби и младинско организирање во РМ (2010) [PDF]</a>
							</div>
						</div>							

						<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/SEGA%20analiza%20na%20ucestvo%20na%20mladi%20zeni%20i%20mazi%202009.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">СЕГА: <a href="/media/download-files/istrazhuvanja_makedonija/SEGA%20analiza%20na%20ucestvo%20na%20mladi%20zeni%20i%20mazi%202009.pdf" class="doc-link">Учество на младите мажи и жени во процесите на креирање политики на локално ниво (2009) [PDF]</a>
							</div>
						</div>

						<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/SEGA%20Ucestvo%20na%20decata%20vo%20ucilistata%20i%20proces%20na%20sproveduvanje%20izbori%20vo%20ucilistata%202010.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">СЕГА: <a href="/media/download-files/istrazhuvanja_makedonija/SEGA%20Ucestvo%20na%20decata%20vo%20ucilistata%20i%20proces%20na%20sproveduvanje%20izbori%20vo%20ucilistata%202010.pdf" class="doc-link">Компаративна анализа на домашната и европската легислатива која го регулира статусот на младите (2010) [PDF]</a>
							</div>
						</div>							

						<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/SEGA%20Ucestvo%20na%20decata%20vo%20ucilistata%20i%20proces%20na%20sproveduvanje%20izbori%20vo%20ucilistata%202010.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">СЕГА: <a href="/media/download-files/istrazhuvanja_makedonija/SEGA%20Ucestvo%20na%20decata%20vo%20ucilistata%20i%20proces%20na%20sproveduvanje%20izbori%20vo%20ucilistata%202010.pdf" class="doc-link">Учество на децата во училиштата и процес на спроведување избори во училиштата (2010) [PDF]</a>
							</div>
						</div>	

						<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/Конфузија%20Капитулација%20или%20ОТПОР.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">МОФ и РЕАКТОР: <a href="/media/download-files/istrazhuvanja_makedonija/Конфузија%20Капитулација%20или%20ОТПОР.pdf" class="doc-link">Капитулација, конфузија или отпор (2011) [PDF]</a>
							</div>
						</div>
						
						<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/EducationENG.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">ЦРПМ: <a href="/media/download-files/istrazhuvanja_makedonija/EducationENG.pdf" class="doc-link">Како да се подобри високото образование? [PDF]</a>
							</div>
						</div>
						
												<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/Policy_brief.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">ЦРПМ: <a href="/media/download-files/istrazhuvanja_makedonija/Policy_brief.pdf" class="doc-link">“Invest in Macedonia” - Национална стратегија за млади на Република Македонија [PDF]</a>
							</div>
						</div>
						
						<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/rezultati.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Платформа за студентски плурализам: <a href="/media/download-files/istrazhuvanja_makedonija/rezultati.pdf" class="doc-link">Резултати пд спрoведенo истражување на сите државни универзитети и Факултетот на Југoистoчна Еврoпа [PDF]</a>
								
							</div>
						</div>
						
												<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/korupcija.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">MOФ: <a href="/media/download-files/istrazhuvanja_makedonija/korupcija.pdf" class="doc-link">Истражување: Корупција во студентските домови [PDF]</a>
								
							</div>
						</div>
						
																		<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/ljubovposlechasovi.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Сексуално образование: <a href="/media/download-files/istrazhuvanja_makedonija/ljubovposlechasovi.pdf" class="doc-link">Љубов само после часови [PDF]</a>
								
							</div>
						</div>
						
																								<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/istrazuvanje_lokalna_samouprava_makedonski.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Локална самоуправа, СРЗ и млади: <a href="/media/download-files/istrazhuvanja_makedonija/istrazuvanje_lokalna_samouprava_makedonski.pdf" class="doc-link">Улогата на локалната самоуправа во сексуалното и репродуктивното здравје  кај младите [PDF]</a>
								
							</div>
						</div>
						
																														<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/istrazuvanje_lokalna_samouprava_makedonski.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Улогата на локалната самоуправа во сексуалното и репродуктивното здравје  кај младите:
								<a href="/media/download-files/istrazhuvanja_makedonija/istrazuvanje_lokalna_samouprava_makedonski.pdf" class="doc-link"> [PDF - македонски]</a>
								
								<a href="/media/download-files/istrazhuvanja_makedonija/istrazuvanje_opstini_alb.pdf" class="doc-link"> [PDF - албански]</a>
								
							</div>
						</div>
						
																														<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/istrazuvanje_lzhiv.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Истражување: 
								<a href="/media/download-files/istrazhuvanja_makedonija/istrazuvanje_lzhiv.pdf" class="doc-link">Проценка на потребите на лицата кои живеат со ХИВ во Македонија [PDF]</a>
								
							</div>
						</div>
						
																																				<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/faktori_kontracepcija_2012.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Фактори кои влијаат на употребата на контрацепцијата во Република Македонија  
								<a href="/media/download-files/istrazhuvanja_makedonija/faktori_kontracepcija_2012.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
						
																																				<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/resource-kit.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Прирачник за лобирање  
								<a href="/media/download-files/istrazhuvanja_makedonija/resource-kit.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
						
												
																																				<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/mladinska-deklaracija.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Сексуално образование во Македонија - Младинска декларација  
								<a href="/media/download-files/istrazhuvanja_makedonija/mladinska-deklaracija.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
						
						
						
												
																																				<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/Deklaracija.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Декларација на Y-PEER Македонија за сеопфатно сексуално образование 
								<a href="/media/download-files/istrazhuvanja_makedonija/Deklaracija.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
						
												
						
						
												
																																				<div  class="doc">
							<a href="/media/download-files/istrazhuvanja_makedonija/Nacionalna-strategija.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Националната стратегија за сексуално и репродуктивно здравје во Република Македонија 
								<a href="/media/download-files/istrazhuvanja_makedonija/Nacionalna-strategija.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
						
					</div>
					<!-- ends floated content -->

				</div>	        	
	        	<!--  page content-->
	        	
	        	

	        	
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
