{% extends "base.html" %}
{% block title %}Документи - Прирачници и брошури {% endblock %}
{% block content %}
<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">

					<!-- floated content -->
					<div>
						<h2 class="page-heading"><span>Документи - Прирачници и брошури</span></h2>
						
												<div  class="doc">
							<a href="/media/download-files/prirachnici-i-broshuri/008_LMI_priracnik.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">МОФ: <a href="/media/download-files/prirachnici-i-broshuri/008_LMI_priracnik.pdf" class="doc-link">Локална младинска иницијатива [PDF]</a>
								
							</div>
						</div>
						
																		<div  class="doc">
							<a href="/media/download-files/prirachnici-i-broshuri/Vodic.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">НВО Инфоцентар и МОФ: <a href="/media/download-files/prirachnici-i-broshuri/Vodic.pdf" class="doc-link">Водич за млади - Основни граѓански и политички слободи и права [PDF]</a>
								
							</div>
						</div>
						
																								<div  class="doc">
							<a href="/media/download-files/prirachnici-i-broshuri/obicen_demokratski_den_mk.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">МОФ: Обичен демократски ден на Слободан Љубопитовски во друштво на г-ѓа Јустиција <br/>
								<a href="/media/download-files/prirachnici-i-broshuri/obicen_demokratski_den_mk.pdf" class="doc-link">[PDF - македонски]</a>
								<a href="/media/download-files/prirachnici-i-broshuri/obicen_demokratski_den_al.pdf" class="doc-link">[PDF - албански]</a>								
							</div>
						</div>
						
						<div  class="doc">
							<a href="/media/download-files/prirachnici-i-broshuri/obicen_demokratski_den_mk.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Пакет за прва помош - студентски прирачник за истражување на корупцијата во високото образование (Антикорупциска студентска мрежа на Југоисточна Европа)
								<br/><a href="/media/download-files/prirachnici-i-broshuri/Paket_za_prva pomos.pdf" class="doc-link">[PDF - македонски]</a>
								<a href="/media/download-files/prirachnici-i-broshuri/First_Aid.pdf" class="doc-link">[PDF - англиски]</a>								
							</div>
						</div>
						
						
				
						
					</div>
					<!-- ends floated content -->

				</div>	        	
	        	<!--  page content-->
	        	
	        	

	        	
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
