{% extends "base.html" %}
{% block title %}Документи - Meѓународни стандарди {% endblock %}
{% block content %}
<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">

					<!-- floated content -->
					<div>
						<h2 class="page-heading"><span>Документи - Meѓународни стандарди</span></h2>
						
						<div  class="doc">
							<a href="/media/download-files/megjunarodni-standardi/evropska-povelba-za-mladi.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Европска повелба за млади <a href="/media/download-files/megjunarodni-standardi/evropska-povelba-za-mladi.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
					</div>
					<!-- ends floated content -->

				</div>	        	
	        	<!--  page content-->
	        	
	        	

	        	
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
