{% extends "base.html" %}
{% block title %}Документи - Meѓународни истражувања{% endblock %}
{% block content %}
<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">

					<!-- floated content -->
					<div>
						<h2 class="page-heading"><span>Документи - Meѓународни истражувања</span></h2>
						
						<div  class="doc">
							<a href="/media/download-files/megjunarodni-istrazhuvanja/eu_youth_report_swd_situation_of_young_people.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Status of the situation of young people in the European Union <a href="/media/download-files/megjunarodni-istrazhuvanja/eu_youth_report_swd_situation_of_young_people.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
												<div  class="doc">
							<a href="/media/download-files/megjunarodni-istrazhuvanja/eu_youth_report_swd_results_of_eu_youth_strategy_2010-2012.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">EU Youth Report <a href="/media/download-files/megjunarodni-istrazhuvanja/eu_youth_report_swd_results_of_eu_youth_strategy_2010-2012.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
																		<div  class="doc">
							<a href="/media/download-files/megjunarodni-istrazhuvanja/YK10_Youth_employment.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Youth Employment and the Future of Youth <a href="/media/download-files/megjunarodni-istrazhuvanja/YK10_Youth_employment.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
																								<div  class="doc">
							<a href="/media/download-files/megjunarodni-istrazhuvanja/9501_Intercultural_learning_Lafraya_Final.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Intercultural learning and non-formal education <a href="/media/download-files/megjunarodni-istrazhuvanja/9501_Intercultural_learning_Lafraya_Final.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
																														<div  class="doc">
							<a href="/media/download-files/megjunarodni-istrazhuvanja/YK_Youth_Work_vol_2.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">The history of youth work in Europe <a href="/media/download-files/megjunarodni-istrazhuvanja/YK_Youth_Work_vol_2.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
						<div  class="doc">
							<a href="/media/download-files/megjunarodni-istrazhuvanja/Some_still_more_equal__web.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Some still more equal than others <a href="/media/download-files/megjunarodni-istrazhuvanja/Some_still_more_equal__web.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>						
						<div  class="doc">
							<a href="/media/download-files/megjunarodni-istrazhuvanja/manual.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Youth Policy manual: How to develop national youth strategy <a href="/media/download-files/megjunarodni-istrazhuvanja/manual.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
												<div  class="doc">
							<a href="/media/download-files/megjunarodni-istrazhuvanja/007_Social_inclusion_young_people.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Social inclusion for young people: braking down the barriers <a href="/media/download-files/megjunarodni-istrazhuvanja/2007_Social_inclusion_young_people.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
					
											<div  class="doc">
							<a href="/media/download-files/megjunarodni-istrazhuvanja/Revisiting_youth_politica.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Revisiting youth political participation <a href="/media/download-files/megjunarodni-istrazhuvanja/Revisiting_youth_politica.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
						
																	<div  class="doc">
							<a href="/media/download-files/megjunarodni-istrazhuvanja/youth-volunteering_en.pdf">
								<div class="download-icon"></div>
							</a>
							<div class="doc-info">Youth Volunteerism <a href="/media/download-files/megjunarodni-istrazhuvanja/youth-volunteering_en.pdf" class="doc-link">[PDF]</a>
								
							</div>
						</div>
					
					
					
					
						
					</div>
					<!-- ends floated content -->

				</div>	        	
	        	<!--  page content-->
	        	
	        	

	        	
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
