{% extends "base.html" %}
{% block title %} Контакт {% endblock %}
{% block content %}
<!-- MAIN -->
<div id="main">	
<div class="wrapper clearfix">

<h2 class="page-heading"><span>КОНТАКТ</span></h2>
<form action="." method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.subject.errors }}
        <label for="id_subject">Наслов на пораката:</label>
        {{ form.subject }}
    </div>
    <div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="id_message">Порака:</label>
        {{ form.message }}
    </div>
    <div class="fieldWrapper">
        {{ form.sender.errors }}
        <label for="id_sender">Email адреса:</label>
        {{ form.sender }}
    </div>
    <div class="fieldWrapper">
        {{ form.cc_myself.errors }}
        {{ form.cc_myself }}
        <label for="id_cc_myself" id="myself">Сакам да ми пристигне копија од пораката</label>
    </div>
    <p>
    <div style="clear: both;"></div>
    <input type="submit" value="Испрати" class="btn1 btn-primary1" /></p>
</form>

</div>
</div>	
<!-- page content -->
{% endblock %}	
