{% extends "base.html" %}
{% block title %}Документи{% endblock %}
{% block content %}
<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">
					
					
					
					<!-- floated content -->
					<div>
						<h2 class="page-heading"><span>Документи</span></h2>
						
						<div class="span4 doc">
							<div class="doc-icon"></div>
							<div class="doc-name">
								<a href="/dokumenti/domashno-zakonodavstvo">Домашно законодавство</a>
							</div>
							<!--<div class="doc-download">
								<a href="http://mladizakon.files.wordpress.com/2011/08/zakon_za_mladi.pdf">[mk]</a> <a href="http://mladizakon.files.wordpress.com/2011/08/draft-law-on-youth-macedonia-government-proposal.pdf">[en]</a></p>
                        </div> -->
						</div>
						
						<div class="span4 doc">
							<div class="doc-icon"></div>
							<div class="doc-name"><a href="/dokumenti/istrazuvanja/">Истражувањa во Македонија</a></div>
							<!--<div class="doc-download">
								<a href="http://mladizakon.files.wordpress.com/2011/08/polisi-brif-vrzana-mladina.pdf">[mk]</a> <a href="http://mladizakon.files.wordpress.com/2011/08/polisi-brif-zakon-za-mladi-al.pdf">[al]</a> <a href="http://mladizakon.files.wordpress.com/2011/08/policy-brief-law-on-youth-en.pdf">[en]</a></p>
                            </div>-->
						</div>
						
						<div class="span4 doc">
							<div class="doc-icon"></div>
							<div class="doc-name"><a href="/dokumenti/megjunarodni/">Меѓународни истражувања</a></div>
							<!--<div class="doc-download">
								<a href="http://mladizakon.files.wordpress.com/2011/08/zakon-za-mladi-studija-mladinski-politki-final.pdf">[mk]</a>
                            </div>-->
						</div>
						
						<div class="span4 doc">
							<div class="doc-icon"></div>
							<div class="doc-name">
								<a href="/dokumenti/standardi/">Меѓународни стандарди</a>
							</div>
							<!--<div class="doc-download">
								<a href="http://mladizakon.files.wordpress.com/2011/08/d0bcd0bad0b4-d0bfd180d0b5d187d0b8d181d182d0b5d0bd-d182d0b5d0bad181d182-d0bfd180d0b5d0b4d0bbd0bed0b3-d0b8d0b7d0bcd0b5d0bdd0b8-d0bd.pdf">[mk]</a> <a href="http://mladizakon.files.wordpress.com/2011/08/d0b0d0bbd0b1-d0bfd180d0b5d187d0b8d181d182d0b5d0bd-d182d0b5d0bad181d182-d0bfd180d0b5d0b4d0bbd0bed0b3-d0b8d0b7d0bcd0b5d0bdd0b8-d0bd.pdf">[al]</a> <a href="http://mladizakon.files.wordpress.com/2011/08/d0b0d0bdd0b3-d0bfd180d0b5d187d0b8d181d182d0b5d0bd-d182d0b5d0bad181d182-d0bfd180d0b5d0b4d0bbd0bed0b3-d0b8d0b7d0bcd0b5d0bdd0b8-d0bd.pdf">[en]</a>
                            </div>-->
						</div>
						
						<div class="span4 doc">
							<div class="doc-icon"></div>
							<div class="doc-name">
								<a href="/dokumenti/priracnici/">Прирачници и брошури</a>
							</div>
							<!--<div class="doc-download">
								<a href="http://mladizakon.files.wordpress.com/2011/08/0915-11_statement_on_youth_law_european_youth_forum.pdf">[en]</a>
                            </div>-->
						</div>

					</div>
					<!-- ends floated content -->
				</div>	        	
	        	<!--  page content-->
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
