{% extends "base.html" %}
{% block title %}Иницијатори{% endblock %}
{% block content %}

<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">
					
					
					
					<!-- fullwidth content -->
					<div class="fullwidth-content">
					
						<h2 class="page-heading"><span>Инфографик</span></h2>
						
                                                <p><a href="img/infografik" id="logo"><img  src="img/infografik.jpg" alt="infografik"></a>

						
						
						
					</div>
					<!-- ends fullwidth content -->
					
					
					
				</div>	        	
	        	<!--  page content-->
	        	
	        	

	        	
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
