{% extends "base.html" %}
{% block title %}Иницијатори{% endblock %}
{% block content %}
<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">
					
					
					
					<!-- fullwidth content -->
					<div class="inicijatori">					
							<h2 class="page-heading"><span>Иницијатори и поддржувачи</span></h2>
							<span style="line-height: 1em ">Во Република Млади членуваат <span style="color: #43225c; font-weight: bold;">59 младински и граѓански организации, неформални и формални групи</span>.<br/>Контактирајте на <a href="mailto:info@republikamladi.mk" style="color: #43225c;">info@republikamladi.mk</a> за приклучување на вашата организација во Република Млади.</span> <br/><br/>
							<h4> Листа на организации-членки</h4>
									<a href="http://www.mof.org.mk">Младински образовен форум (МОФ);</a><br />
                                    <a href="http://www.reactor.org.mk/">Реактор – Истражување во акција;</a><br />
                                    <a href="http://aegee-skopje.org.mk/">АЕГЕЕ-Скопје (Асоцијација на Европски студентски структури);</a><br />
                                    <a href="http://www.elsa-rm.org.mk/">ЕЛСА РМ (Европското здружение на студентите по право во Република Македонија);</a><br />
                                    <a href="http://cid.mk/">Центар за меѓукултурен дијалог – Куманово;</a><br />
                                    <a href="http://mcet.org.mk/">Македонски центар за европско образование (МЦЕО);</a><br />
                                    <a href="http://www.youthcan.org.mk">Младите можат;</a><br />
                                    <a href="http://www.multikultura.org.mk/">Мултикултура – Тетово;</a><br />
                                    <a href="http://www.nvoinfocentar.org.mk/">НВО Инфоцентар;</a><br />
                                    <a href="http://www.facebook.com/opntheatre">ОПН Театар (Здружение на граѓани за слободно креативно истражување и изразување во областа на изведувачките уметности, Скопје);</a><br />
                                    <a href="http://www.cdckicevo.mk/">Центар за развој на заедницата – Кичево; </a><br />
                                    <a href="http://www.facebook.com/pages/%D0%A6%D0%B5%D0%BD%D1%82%D0%B0%D1%80-%D0%B7%D0%B0-%D0%A0%D0%B0%D0%B7%D0%B2%D0%BE%D1%98-%D0%B8-%D0%A3%D0%BD%D0%B0%D0%BF%D1%80%D0%B5%D0%B4%D1%83%D0%B2%D0%B0%D1%9A%D0%B5-%D0%BD%D0%B0-%D0%88%D0%B0%D0%B2%D0%BD%D0%B8%D0%BE%D1%82-%D0%96%D0%B8%D0%B2%D0%BE%D1%82-%D0%A2%D0%B5%D1%82%D0%BE%D0%B2%D0%BE/110510935685067">Центар за развој и унапредување на јавниот живот – Тетово;</a><br />
                                    <a href="http://civil.org.mk/">Цивил &#8211; Центар за слобода;</a><br />
                                    <a href="http://www.hera.org.mk/">Х.Е.Р.А. &#8211; Асоцијација за здравствена едукација и истражување;</a><br />
                                    Здружение за развој и активизам “Аква“ – Струга;<br />                                                </a>
                                  <a href="http://www.egipjani.org">ИЗИДА 41/21 (Здружение на граѓани за заштита на културниот идентитет на Египќаните);</a><br />
                                  <a href="http://www.iaeste.org.mk/">ИАЕСТЕ Македонија (Македонскo здружение одбор за меѓународна размена на студенти од техничките факултети);</a><br />
                                  <a href="http://www.jamacedonia.org.mk/en/index.html">Јunior Achievement &#8211; Економско образование за млади;</a><br />
                                  <a href="http://www.rcz.delcevo.org.mk/">Регионален центар за застапување – Делчево;</a><br />
                                  <a href="http://frlz.org.mk/">Фондација за развој на локалната заедница – Штип;</a><br />
                                  <a href="http://metamorphosis.org.mk/">Фондација Метаморфозис;</a><br />
                                  <a href="http://cscd.org.mk">Центар за одржлив развој на заедницата – Дебар;</a><br />
                                  <a href="http://www.nvocentri.org.mk/">Регионален центар за одржлив развој – Гевгелија;</a><br />
                                  <a href="http://www.mkcbt.org.mk/">Младински културен центар – Битола;</a><br />
                                  <a href="http://www.facebook.com/pages/ESTIEM-LG-Skopje/115627348453059">ЕSTIEM - Здружение на студенти по индустриско инженерство и менаџмент &#8211; Локална група - Скопје;</a><br />
                                  <a href="http://www.regionalencentar.org.mk/">Здружение "Регионален центар за одржив развој" – Кратово;</a><br />
                                  <a href="http://pulskumanovo.org.mk/">ПУЛС Куманово - Асоцијација за здрави животни стилови;</a><br />
                                  <a href="http://bidizelen.org/">Гоу Грин - Здружение на граѓани за одржлив развој и заштита на животната средина, Скопје;</a><br />
                                  <a href="http://www.nationalromacentrum.org/en/">Национален ромски центар &#8211; Куманово;</a><br />
                                  <a href="http://www.yesincubator.org.mk/">ПСМ Фондација (Претприемачки сервис за млади);</a><br />
                                  <a href="http://www.ufukdernegi.org/" target="_blank">НВО УФУК;<br /></a>
                                  <a href="http://cre8ive8.org/" target="_blank">КриејтивеЕјт - Младинска медиумска продукција</a><br/>
                                  <a href="http://www.facebook.com/AIESECskopje" target="_blank">АИЕСЕК во Република Македонија</a><br />
                                  <a href="http://sonce.org.mk/">Асоцијација за Демократски Развој на Ромите „Сонце“</a><br />
                                  Ромски младински центар (Roma Youth Center)<br />
                                  <a href="http://www.facebook.com/groups/114863478560063/">Румелија торбешки-културно научен центар</a><br />
                                   <a href="http://www.taksirat.com.mk/" target="_blank">Здружение за култура и уметност Таксират</a><br />
                                   <a href="http://www.sadrvan.org.mk/">Младинска културна асоцијација на Бошњаците &#8211; ШАДРВАН Скопје</a><br />
                                   <a href="http://www.ced.org.mk/">Центар за едукација и развој (ЦЕД) -  Теарце</a><br />
                                   Политичка академија за социјална демократија &#8211; Алумни клуб<br />
                                   <a href="http://www.sn7.org.mk/">Европски Центар СН7</a><br />
                                   Mамахумана<br />
                                   <a href="http://www.ecologic.mk">ЗЗУЖС Еco - Logic</a><br />
                                   <a href="http://www.khamdelcevo.org.mk">НВО КХАМ &#8211; Делчево</a><br />
                                   <a href="http://www.youthforumbitola.org/">Форум на млади &#8211; Битола</a><br />
                                   <a href="http://www.sonce.org.mk/">Асоцијација за демократски развој на ромите „Сонце“ - Тетово</a><br />
                                   <a href="http://ngoequilibrio.blogspot.com/">Здружение на граѓани за младински активизам, граѓанска еднаквост и европска иднина ЕКВИЛИБРИО<br /></a>
                                   <a href="http://www.rromassn.org/">Регионална ромска образовна младинска асосцијација</a><br/>
                                   <a href="http://www.streetsfestival.com/">Здружение Стритс фестивал - Куманово</a><br/> 
                                   <a href="http://vlachyouthcouncil.blogspot.com">Совет на млади Власи од Македонија</a><br />
                                   <a href="http://www.irz.org.mk">Институт за развој на заедницата (ИРЗ) - Тетово</a><br />
                                   <a href="http://www.facebook.com/pages/NVO-CENTAR-ZA-POMOSh-I-INTEGRIRAE-VO-GRAANSKOTO-OPShTESTVO/166714517911">Центар за помош и интегрирање на недоволно развиените и развиените подрачја во граѓанското општество</a><br />
                                   <a href="http://www.facebook.com/zdruzenie.radikade">Здружение Радика – ДЕ Дебар</a><br />
                                   <a href="http://bujrum.org/">Здружение Центар за рурален развој „Бујрум“</a><br />
                                   <a href="http://www.fri.org.mk">Исламски младински форум</a><br />
                                   <a href="http://www.romaversitas.edu.mk">Програма за образование на роми – Ромаверзитас</a><br />
                                   <a href="http://www.facebook.com/lgbtunitedmacedonia">ЛГБТ Јунајтед</a><br />
                                   <a href="http://www.facebook.com/pages/STAR/91871002517?ref=hl">"СТАР "- Здружение на активисти за промоција и унапредување на човековите права и слободи на сексуалните работници</a><br />
                                   <a href="http://www.csinadez.mk">Центар за социјални иницијативи „Надеж“</a><br />       
								   <a href="http://infofrontprilep.blogspot.com">Здружение на млади Инфо фронт – Прилеп</a><br />    
					</div>
					<!-- ends fullwidth content -->
				
					
				</div>	        	
	        	<!--  page content-->
	        	
	        	

	        	
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
