{% extends "base.html" %}
{% block title %}Документи - Домашно законодавство {% endblock %}
{% block content %}
<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">

					<!-- floated content -->
					<div style="text-align: justify">
						<h2 class="page-heading"><span>Код на однесување</span></h2>
						
						Следниот Код на однесување („Код“) се однесува на користењето на <a href="http://republikamladi.mk" target="_blank" style="color: #43225c;">republikamladi.mk</a> („веб-
сајтот“), вклучитено и учеството во коментари, дебати и сите други области (освен содржини
истакнати како исклучок на специфична страница) во формата како што го обезбедува
иницијативата Република Млади („обезбедувач на услуги“ или „ние“).<br/><br/>

Ве молиме прочетајте ги внимателно правилата кои се содржат во овој Код. Тој е достапен
во секое време на адресата <a href="//republikamladi.mk/odnesuvanje/" target="_blank" style="color: #43225c;">republikamladi.mk/odnesuvanje</a>. Вашето користење и/или
регистрација на било кој дел од веб-сајтот претставува Ваше согласување со овие правила.
Ако не се согласувате со овие правила, Ве молиме да не го користите овој веб-сајт. Покрај
прегледувањето на овој Код, Ве молиме прочитајте ја и нашата <a href="//republikamladi.mk/privatnost/" target="_blank" style="color: #43225c;">Политика на приватност</a>. Вашата
употреба на овој веб-сајт со нејзините услови, исто така.<br/><br/>

Овој Код може да биде изменуван од време на време. Датумот на најновата ревизија се појавува
на оваа страница, така што препорачуваме да го проверувате често. Континуиран пристап кон овој
веб-сајт од Ваша страна се толкува како прифаќање на сите промени или ревизии на Кодот.<br/><br/>

Вашиот неуспех да ги следите овие правила, било наведени подолу или во написи и билтени
објавени на други места на веб-сајтов, може да доведат до суспензија или прекин на Вашиот
пристап до веб-сајтот, без претходна најава, покрај други мерки што може да ги преземе
обезбедувачот на услуги.<br/><br/>

<h4 class="code">Следење (Мониторинг)</h4>
Ние се трудиме да обезбедиме пријатно искуство на интернет за нашите корисници, така што
може да следиме некои од активностите на веб-сајтот, како коментарите, форуми, лични огласи,
муабети итн. со цел да обезбедиме усогласеност со овој Код. Сите корисници на овој веб-сајт
специфично се согласуваат со таквото следење. Од друга страна, ние не обезбедуваме гаранции
дека: (1) веб-сајтот или било кој негов дел ќе биде набљудуван за да се обезбеди точност или
неприфатливо користење, (2) дека изјави кои содржат факти ќе бидат проверени и потврдени, или
(3) дека ќе преземеме определени специфични акции (или било какви активности) во случај на
расправа во однос на придржувањето или непридржувањето до овој Код.<br/><br/>

<h4 class="code">Општи услови во однос на медицински информации</h4>

Овој веб-сајт не е форум за размена на медицински информации, совети или промоција на
автодеструктивно однесување (на пр. нарушувања поврзани со исхраната, самоубиства). Иако
имате право слободно да дискутирате за сопствените проблеми, имајте на ум дека овој веб-сајт не
е соодветен извор на научно потврдени информации за овие теми. Наместо тоа, препорачуваме
лично да разговарате со возрасно лице на кое му верувате или со лекар.

Информациите на овој веб-сајт се обезбедени само за образовни и забавни цели, и на ниеден
начин не се наменети за обезбедување дијагнози, лекови, или процес на лечење на било какви
медицински или други состојби. Секогаш побарајте совет од лекар или друг квалификуван
обезбедувач на здравствени услуги пред да почнете со било каква нова дијета или промена на

начин на исхрана, и прашајте го својот лекар доколку имате било какви прашања во врска со
медицински состојби. Покрај сите други ограничувања и услови на овој Код, обезбедувачот на
услуги и третите страни поврзани со него не преземаат никаква одговорност во случај на штети
поврзани со содржините обезбедени на овој веб-сајт.<br/><br/>

<h4 class="code">Регистрација и креирање корисничко име</h4>

<h5 class="code-sub">Информации за регистрација</h5>

Обезбедувачот на услуги може во некои случаи да бара да се регистрирате или да креирате
корисничка сметка за да користите определени делови од веб-сајтот, или целиот веб-сајт. Со
таа цел, може да добиете или да ви биде понудено да одберете лозинка, корисничко име и/или
информации за регистрација (колективно „информации за регистрација“). Вие се согласувате и
потврдувате дека сите информации за регистрација што ги обезбедувате се точни и ажурирани.
Ако било кој дел од Вашите информации за регистрација се промени, мора да го ажурирате преку
користење на соодветните механизми на веб-сајтот, доколку тие се достапни. Во спротивно,
стапете контакт со членот на нашиот тим одговорен за заштита на лични податоци, како што е
опишано во нашата Политика на приватност.<br/><br/>
<h5 class="code-sub">Користење на корисничко име и лозинка</h5>

Со вашето регистрирање или отворање корисничка сметка на веб-сајтов само вие ја преземате
личната одговорност за зачувување на доверливоста на вашите информации за регистрација.
Вие не смеете да овластите трети лица да ги користат овие информации. Вие не смеете да ги
лиценцирате, пренесете, продадете или предадете вашите информации за регистрација и/или
овој Код на ниту една трета страна беш наше писмено одобрување. Секој ваков обид ќе биде
правно неважечки и ќе се смета за материјално прекршување на овој Код.<br/><br/>

Вие лично сте единственото одговорно лице за користењето и активноста на Вашата сметка,
вклучително, но не и ограничено на, користењето на Вашата сметка од било кое лице што ги
користи Вашите информации за регистрација, со или без Ваше одобрение, или кој има пристап до
било кој компјутер на кој има пристап до Вашата корисничка сметка.<br/><br/>

Ако од било која причина верувате дека Вашата корисничка сметка не е повеќе сигурна (на
пример во случај на губење, крадење или неовластено откривање или користење на вашите
информации за регистрација, или било каков друг личен податок складиран на веб-сајтов), мора
веднаш да ја промените дадената информација преку користење на соодветниот механизам
за ажурирање, или информирајте стапете контакт нашиот тим одговорен за заштита на лични
податоци, како што е опишано во нашата Политика на приватност.<br/><br/>

<h4 class="code">Правила на користење</h4>
<h5 class="code-sub">Користење на сервисот од Ваша страна</h5>

Овој веб-сајт не е наменет за корисници помлади од 13 години и обезбедувачот на услуги свесно
не собира лични информации за корисници помлади од 13 години. На овие корисници им е
забрането да поднесуваат лични податоци до овој веб-сајт, или да ги користат деловите од овој
веб-сајт за кој е потребно регистрирање, како што се форуми или делови за водење муабет. Сите
информации објавени од такви корисници нема со наше знаење да биде користена, објавена или
задржана од наша страна.<br/><br/>

Освен ако не е специфично определено со посебен Код, овој веб-сајт е наменет пред сè за лична
употреба. Не смеете да овластите други да го користат веб-сајтот во Ваше име и Вие сте одговорни
за сите видови на користење на веб-сајтот од Ваша страна и од страна на оние за кои сте им
дозволиле да го користат или сте им овозможиле пристап до веб-сајтов. Не смеете лажно да се
претставувате, да имитирате и да се преправате дека сте некој друг додека го користите веб-
сајтов.<br/>
<br/>
Преку овој веб-сајт не смеете да објавувате или обезбедувате пристап до било какви содржини
(текстови, графички елементи, фотографии, слики, видео или аудио материјали) што претставува
неовластен директен маркетинг, спам, огласи или комерцијални понуди. Не смеете да го
повторувате истото објавување повеќе пати дневно или неделно.<br/><br/>

Со користењето на веб-сајтов се согласувате да не користите било каков вид на обсцен,
безобразен или навредлив речник или преку веб-сајтов да насочувате кон било какви содржини
кои содржат клевети, злоупотреби, силеџиство, вознемирување, или преку кои се шири расна или
било каква друга омраза или се промовира насилство. Вие се согласувате дека ќе се воздржите
од навреди на етничка или национална основа, религиозна нетолеранција, хомофобија и лични
напади при користењето на веб-сајтов.<br/><br/>

Вие исто така се согласувате дека нема да го користите овој веб-сајт за презентирање или
насочување кон порнографски содржини.
<br/><br/>
На никаков начин не смеете да го користите веб-сајтов за презентирање информации или
содржини со кои се нарушува било чија приватност, или се овозможува или поттикнува
однесување што би можело да се смета за прекршок или кривично дело во однос на законите
на Република Македонија, или може да доведе до поведување граѓанска парница. Вие се
согласувате дека ќе го користите овој веб-сајт само за законски цели и се согласувате дека
во случај на прекршување на законите може да бидете подложени на соодветните законски
пропишани мерки.<br/>
<br/>
Забрането е преку овој веб-сајт да објавувате или насочувате кон содржини кои содржат упатства
за изработка или користење на оружја или експлозиви.<br/><br/>

Вие сте одговорни за обезбедување дека било кои содржини кои ги објавувате или до кои
насочувате преку овој веб-сајт не ги нарушуваат авторските права, интелектуалната сопственост,
деловни тајни, или било кој друг вид лични или сопственички права на било која трета страна,
односно дека тие содржини се нудат со дозвола на сопствениците на тие права.
<br/><br/>
Вие се согласувате дека нема на било кој начин да го нарушувате, преземате контрола, напаѓате,
модифицирате или да се мешате во работата на веб-сајтот и софтверот поврзан со него, хардверот
и/или серверите на било кој начин. Исто така се согласувате да не се мешате во или да ја
нарушувате употребата на овој веб-сајт од страна на другите корисници.
<br/><br/>
Вие признавате дека обезбедувачот на услуги ги нема проверено и не ја одобрува содржината
на сите веб-сајтови што се поврзани од овој веб-сајт и дека не е одговорен за содржината или
активностите на било кој друг веб-сајт до кој води линк објавен на овој веб-сајт. Поставувањето
линкови од Ваша страна е целосно на Ваш ризик.
<br/><br/>
Коментарите од другите не се одобрени од страна на обезбедувачот на услуги.
<br/><br/>
Обезбедувачот на услуги не ги одобрува, поддржува, поттикнува, охрабрува, верифицира или
се согласува со коментарите, мислењата, или изјавите објавени од страна на корисниците во
било која форма преку овој веб-сајт. Сите информации објавени на интернет, особено совети
или мислења, се сопственост и одговорност на на лицата што ги објавиле и не ги претставуваат
погледите на обезбедувачот на услуги или лица или организации поврзани со него. Вие се
согласувате дека обезбедувачот на услуги или организациите поврзани со него не се одговорни
кон Вас, ниту било што Ви должат, во однос на информации или материјали објавени од други,
вклучително и содржини кои може да содржат елементи на навреда и клевета, илегален
материјал или материјал што го нарушува овој Код.
<br/><br/>
<h5 class="code-sub">Уредување и бришење</h5>

Обезбедувачот на услуги го резервира правото, но не презема обврска, да ги прегледува,
рецензира, уредува, поместува или брише сите материјали понудени за објавување на овој веб-
сајт според свое видување, без претходна најава.<br/><br/>

<h5 class="code-sub">Дополнителни правила</h5>
Обезбедувачот на услуги го резервира правото да објавува, од време на време, дополнителни
правила за користење што се однесуваат на специфични делови на веб-сајтот. Таквите
дополнителни ќе бидат објавени во соодветните делови на веб-сајтот. Вашата континуирана
употреба на веб-сајтот претставува Ваша согласност со овие дополнителни правила.
						
						
						
						
					</div>
					<!-- ends floated content -->

				</div>	        	
	        	<!--  page content-->
	        	
	        	

	        	
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
