{% extends "base.html" %}
{% block title %}За иницијативата{% endblock %}
{% block content %}
<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">
					
					
					
					<!-- floated content -->
					<div style="text-align: justify;">
					
						<h2 class="page-heading"><span>За иницијативата</span></h2>
							Република Млади е иницијатива за одбрана на младинското учество. 60-тина организации од
Македонија, младински и граѓански, се заложија да ја предизвикаат младинската мисла и да
го рашират младинскиот глас за потребата од креирање платформа за младинска демократија.
Платформата треба да обезбеди учество и влијание на младите во одлучувањето на сите нивоа
во државата.
<br/><br/>
Република Млади во моментов е неформална иницијатива/коалиција која своите независни
ставови ги гради врз база на искуствата, експертизите и перцепциите на своите организации,
членки и поддржувачи. Активностите на иницијативата ги организира Координативно тело, во
консултација со сите организации-членки.<br/><br/>
Основна цел на Иницијативата е да дејствува кон креирање демократски, репрезентативен
и инклузивен модел на национално младинско организирање во Република Македонија. Во
таа насока, Република Млади цели да ја обезбеди државата за свој партнер во овој процес, а
активно ќе соработува и со сите меѓународни институции и организации кои се активни во
областа на младинското учество.<br/><br/>

Република Млади е отворена платформа во која може да се приклучи секоја младинска или
граѓанска организација која ги споделува целите на иницијативата. Контактирајте на <a href="mailto:info@republikamladi.mk" style="color: #43225c;">info@republikamladi.mk</a> за приклучување на вашата организација во Република Млади.<br/><br/>
						
					</div>
					<!-- ends floated content -->
					

					
				</div>	        	
	        	<!--  page content-->
	        	
	        	

	        	
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
