{% extends "base.html" %}
{% block title %}Документи - Домашно законодавство {% endblock %}
{% block content %}
<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">

					<!-- floated content -->
					<div>
						<h2 class="page-heading"><span>Политика за приватност</span></h2>
						
Во Политиката за приватност се резимирани различните начини на кои Република Млади (во натамошниот
текст „Давателот на услуги“, „ние“ или „нашиот“) ги третира информациите што ги обезбедувате при користење
на republikamladi.mk (во натамошниот текст „веб-сајтот“). Наша цел е да Ви обезбедиме информации
прилагодени на Вашите потреби како поединец, и истовремено, да ја заштитиме Вашата приватност.<br/><br/>

Ве молиме внимателно прочитајте ја оваа Политика на приватност. Можете да пристапите до Политиката на
приватност во секое време на адресата <a href="//republikamladi.mk/privatnost/" target="_blank" style="color: #43225c;">republikamladi.mk/privatnost</a>. Вашето користење и/или регистрација на кој
било дел од веб-сајтот значи прифаќање на оваа Политика на приватност. Доколку не се сложувате со условите
во оваа Политика на приватност, Ве молиме не користете го веб-сајтот. Оваа Политика на приватност не опфаќа
информации собрани на други места, вклучително, но не ограничувајќи се на информации собрани офлајн и на
веб-сајтови до кои се поставени линкови на веб-сајтот.<br/><br/>

Освен Политиката на приватност, Ве молиме прочитајте го и нашиот <a href="//republikamladi.mk/odnesuvanje/" target="_blank" style="color: #43225c;">Код на однесување</a>. Вашето користење на
веб-сајтот исто така значи прифаќање на условите од Кодот на однесување.<br/><br/>

Оваа Политика на приватност може повремено да се менува; датумот на најскорешните промени ќе се појавува
на оваа страница, затоа правете чести проверки. Вашиот континуиран пристап на веб-сајтот ќе значи дека ги
прифаќате сите измени на Политиката на приватност.<br/><br/>

<h4 class="code">Видови на информации што ги собира веб-сајтот</h4>

Веб-сајтот најчесто собира информации кои може да Ве идентификуваат, но со ваше знаење и согласност. За
да се стане член на веб-сајтот и да се користат неговите услуги (за гласање и коментирање) треба да се остави
адреса за е-пошта. Доколку ја оставите адресата за е-пошта тогаш таа ќе се искористи само во случај да сакате да
ја ресетирате лозинката или доколку администраторот на веб-сајтот треба да ве извести за прекршок на Кодот на
однесување. Дополнително, при зачленување е потребно да го забележите вашето место на живеење, кои нема
да биде видливо при вашето користење на веб-сајтот и единствено се употребува водење на статистичка анализа
за користењето на веб-сајтот од страна на администраторот.<br/><br/>

<h4 class="code">На кој начин веб-сајтот ги користи информациите што ги обезбедувате?</h4>

Давателот на услуги го користи Вашето корисничко име и лозинка за да Ви даде пристап до веб-сајтот, и можност
за негово користење. Ќе биде искористена Вашата е-адреса, на Ваше барање, за да Ви се испрати копија од
Вашето корисничко име и лозинка. Доколку обезбедите информации кои може лично да Ве идентификуваат,
истите ќе се искористат за да Ви бидат обезбедени побараните услуги. Ние исто така може да ги искористиме тие
информации за да Ве информираме за новите одлики, производи или услуги, и/или да ги подобриме услугите
што ги нудиме, приспособувајќи ги на Вашите потреби.<br/><br/>

Исто така може да обезбедиме пристап до нашата база на податоци со цел соработка во официјални истраги или
законски процедури, на пример во одговор на судски покани, налози за претрес или други судски постапки.
<br/><br/>
<h4 class="code">Колачиња ("Cookies")</h4>

Можеби веќе сте прочитале за „колачиња” или „cookies”, збирки од информации кои еден веб-сајт ги поставува на Вашиот
компјутер. Може да користиме колачиња за да го контролираме прикажувањето на делови од веб-сајтот,
да ги следиме шаблоните на користење на веб-сајтот, да испорачуваме уреднички содржини, и да снимаме
информации за регистрација и персонализација. На пример, доколку се регистрирате на кој било дел од веб-
сајтот и Ви биде дадена можност да го зачувате Вашето корисничко име и лозинка на Вашиот компјутер, може
да Ви обезбедиме ваква погодност со поставување на колаче на Вашиот компјутер. Нашите колачиња може да
содржат информации кои може лично да Ве идентификуваат и таквите колачиња нема бидат споделени со други

организации или фирми без ваша дозвола.<br/><br/>

Доколку не сакате колачиња, Вашиот интернет прелистувач веројатно има опција со која Ви се овозможува да не
ги прифатите. Сепак, ако подесите Вашиот прелистувач да одбива колачиња, некои делови од веб-сајтот може да
не функционираат соодветно.<br/><br/>

<h4 class="code">Информациска сигурност и известувања</h4>

Бидејќи ниту еден пренос на податоци преку интернет не е целосно безбеден, и ниту еден систем за физичка
или електронска безбедност не е непробоен, Давателот на услуги не може да ја гарантира безбедноста на
информациите кои ни ги испраќате или безбедноста на нашите сервери или бази на податоци, и со користење
на веб-сајтот се сложувате да го преземете целиот ризик во врска со информациите што ни се испраќаат или кои
ги собираме кога го користите веб-сајтот. Малку е веројатно да се случи безбедноста на Вашите информации
кои ги имаме или контролираме да биде загрозена, но во тој случај ќе Ве информираме. Доколку е во ред да ве
известиме, може да ви испратиме известување преку е-пошта.<br/><br/>

<h4 class="code">Деца и родители</h4>

Веб-сајтот не е наменет за употреба од деца, особено деца на возраст под 13 години. Не е дозволено лице под 13
годишна возраст да обезбедува лични информации или да ги користи нашите области за јавна дискусија, форуми
и разговори.<br/><br/>

Доколку Вашите деца откријат информации за себе на јавно пристапни области на веб-сајтот, може да добијат
непосакувани пораки од други лица. Затоа вие треба да им кажете да не го прават тоа.<br/><br/>

Доколку сте загрижени поради активностите на Вашите деца или нивната приватност на нашиот веб-сајт, Ве
молиме контактирајте со нашиот координатор за политика на приватност како што е опишано подолу.<br/><br/>

<h4 class="code">Контакт во врска со политика на приватност</h4>

Доколку имате какви било прашања за кој било аспект од оваа политика, Ве молиме контактирајте со тимот на
Република Млади на по е-пошта на <a href="mailto:info@republikamladi.mk" style="color: #43225c;">info@republikamladi.mk</a>.<br/><br/>			
						
						
					</div>
					<!-- ends floated content -->

				</div>	        	
	        	<!--  page content-->
	        	
	        	

	        	
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
