{% extends "base.html" %}
{% block title %}Документи{% endblock %}
{% block content %}
<!-- MAIN -->
		<div id="main">	
			<div class="wrapper clearfix">
	        	
				<!-- page content -->
	        	<div id="page-content" class="clearfix">
					
					
					
					<!-- floated content -->
					<div>
						<h2 class="page-heading"><span>За веб страната</span></h2>
							Оваа интернет страница е развиена во рамки на Проектот на УСАИД за граѓанско општество, кој го спроведува Фондацијата Отворено општество – Македонија во соработка со четири граѓански организации: Младински образовен форум, Форум – Центар за стратегиски истражувања и документација, Центар за граѓански комуникации и Реактор – Истражување во акција.
							<br/><br/>
							This web site is developed within the USAID Civil Society Project implemented by Foundation Open Society – Macedonia in partnership with four CSOs: Youth Educational Forum (YEF); Forum – Center for Strategic Research and Documentation (Forum-CSRD); Center for Civic Communications; and Reactor – Research in Action.

					</div>
					<!-- ends floated content -->
				</div>	        	
	        	<!--  page content-->
			</div>
		</div>
                <!-- ENDS MAIN -->
                {% endblock %}
